# Testing Enviornment

In [1]:
import pandas as pd
import numpy as np

## Running tests

The following section unit-tests most of the code written for the proof of concept prototype.

In [2]:
%run ../tests/test_algorithms.py

C:\Users\Max\Documents\GitHubPrivate\arguing-predictors\tests\test_algorithms.py:5: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal
........
----------------------------------------------------------------------
Ran 8 tests in 0.095s

OK

In [3]:
%run ../tests/test_dataloader.py

...............
----------------------------------------------------------------------
Ran 15 tests in 0.041s

OK

In [4]:
%run ../tests/test_predictors.py

.
----------------------------------------------------------------------
Ran 1 test in 0.008s

OK

## Running example of the system

In [ ]:
%run ../tools/algorithms.py

In [6]:
%run ../tools/dataloader.py

In [60]:
test = DataLoader('aapl', '2010-02-01', '2015-02-10')

In [61]:
prices = test.get_close()

In [62]:
prices

                Close
Date
2010-02-01   6.954643
2010-02-02   6.995000
2010-02-03   7.115357
2010-02-04   6.858929
2010-02-05   6.980714
...               ...
2015-02-04  29.889999
2015-02-05  29.985001
2015-02-06  29.732500
2015-02-09  29.930000
2015-02-10  30.504999

[1266 rows x 1 columns]

In [ ]:
prices = np.array(prices)
len(prices)

In [ ]:
prices

In [ ]:
%run ../tools/predictors.py

In [ ]:
op0 = BasicUnivariatePredictor(prices, 25, 7)
op1 = BasicUnivariatePredictor(prices, 25, 7)
op2 = BasicUnivariatePredictor(prices, 25, 7)
op3 = BasicUnivariatePredictor(prices, 25, 7)

In [ ]:
op0.create_bilstm()

In [ ]:
op0.model_blueprint()

In [ ]:
op0.fit_model(10)

In [ ]:
op0.show_performance()

In [ ]:
oyea = prices[-26:-1]
#oyea = X[-1]
#oyea

In [ ]:
nice = op0.predict(oyea)
nice

In [ ]:
op1.create_lstm()

In [ ]:
op1.model_blueprint()

In [ ]:
op1.fit_model(10)

In [ ]:
op1.show_performance()

In [ ]:
nice = op1.predict(oyea)
nice

In [ ]:
op2.create_cnn()

In [ ]:
op2.model_blueprint()

In [ ]:
op2.fit_model(10)

In [ ]:
op2.show_performance()

In [ ]:
nice = op2.predict(oyea)
nice

In [ ]:
op3.create_mlp()

In [ ]:
op3.model_blueprint()

In [ ]:
op3.fit_model(100)

In [ ]:
op3.show_performance()

In [ ]:
oyea = prices[-26:-1]
#oyea = X[-1]
#oyea

In [ ]:
nice = op3.predict(oyea)
nice

In [76]:
test0 = prices
test0

                Close
Date
2010-02-01   6.954643
2010-02-02   6.995000
2010-02-03   7.115357
2010-02-04   6.858929
2010-02-05   6.980714
...               ...
2015-02-04  29.889999
2015-02-05  29.985001
2015-02-06  29.732500
2015-02-09  29.930000
2015-02-10  30.504999

[1266 rows x 1 columns]

In [77]:
#test0 = test.rename(columns={'Close': 'y'})
test0 = test0.rename(columns={test0.columns[0]: 'y'}, inplace = False)
test0

                    y
Date
2010-02-01   6.954643
2010-02-02   6.995000
2010-02-03   7.115357
2010-02-04   6.858929
2010-02-05   6.980714
...               ...
2015-02-04  29.889999
2015-02-05  29.985001
2015-02-06  29.732500
2015-02-09  29.930000
2015-02-10  30.504999

[1266 rows x 1 columns]

In [78]:
test0.index.names = ['df']
test0

                    y
df
2010-02-01   6.954643
2010-02-02   6.995000
2010-02-03   7.115357
2010-02-04   6.858929
2010-02-05   6.980714
...               ...
2015-02-04  29.889999
2015-02-05  29.985001
2015-02-06  29.732500
2015-02-09  29.930000
2015-02-10  30.504999

[1266 rows x 1 columns]

In [79]:
%run ../tools/predictorsII.py

In [80]:
oo = UnivariatePredictorII(prices, 1)

In [81]:
oo.test()

                    y
df
2010-02-01   6.954643
2010-02-02   6.995000
2010-02-03   7.115357
2010-02-04   6.858929
2010-02-05   6.980714
...               ...
2015-02-04  29.889999
2015-02-05  29.985001
2015-02-06  29.732500
2015-02-09  29.930000
2015-02-10  30.504999

[1266 rows x 1 columns]